:app = http://127.0.0.1:3000

# hello world test
GET :app/reciclador

# post new user
POST :app/reciclador
Content-Type: application/json

{
  "id" : "2",
  "name" : "leiver",
  "lastname" : "perez"
}

# actualizar un objeto
PUT :app/reciclador/2
Content-Type: application/json

{
  "name" : "sebastian",
  "lastname" : "perez"
}

#Delete
DELETE :app/reciclador/2

# get only head no body
HEAD :app
